.facet-color {
  &.checked {
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5);
  }

  &[data-facet-value="White"] {
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #CCC;
  }

  &[data-facet-value="White"].checked {
    box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1);
  }
  &[data-facet-value="Black"] {
    background-color: #000000;
  }
  &[data-facet-value="Black-brown"] {
    background-color: #382919;
  }
  &[data-facet-value="Pink"] {
    background-color: #C0116D;
  }
  &[data-facet-value="Gray"] {
    background-color: #6F6E6C;
  }
  &[data-facet-value="Blue"] {
    background-color: #5182A1;
  }
  &[data-facet-value="Green"] {
    background-color: #1E9C5E;
  }
  &[data-facet-value="Brown"] {
    background-color: #7B6A63;
  }
  &[data-facet-value="Red"] {
    background-color: #BC1C1A;
  }
  &[data-facet-value="Dark gray"] {
    background-color: #444348;
  }
  &[data-facet-value="Silver color"] {
    background-color: #AAAAA8;
  }
  &[data-facet-value="Light brown"] {
    background-color: #C19A6E;
  }
  &[data-facet-value="Black-brown stain"] {
    background-color: #4B4640;
  }
  &[data-facet-value="Off-white"] {
    background-color: #D0C8B4;
  }
  &[data-facet-value="Beige"] {
    background-color: #C9B8A3;
  }
  &[data-facet-value="Light green"] {
    background-color: #ABBD9B;
  }
  &[data-facet-value="White stain"] {
    background-color: #E4E1DC;
  }
  &[data-facet-value="Turquoise"] {
    background-color: #46BCC9;
  }
  &[data-facet-value="Birch effect"] {
    background-color: #CBBFA4;
  }
  &[data-facet-value="Yellow"] {
    background-color: #F5E500;
  }
  &[data-facet-value="Dark blue"] {
    background-color: #374063;
  }
  &[data-facet-value="Galvanized"] {
    background-color: #726F6A;
  }
  &[data-facet-value="Birch"] {
    background-color: #726F6A;
  }
  &[data-facet-value="Dark brown"] {
    background-color: #74523E;
  }
  &[data-facet-value="High gloss gray"] {
    background-color: #E5E5E5;
  }
  &[data-facet-value="Gray/white"] {
    background-color: #E5E5E5;
  }
  &[data-facet-value="Red/white"] {
    background-color: #FA757B;
  }
  &[data-facet-value="Clear"] {
    background-color: #D5DAE0;
  }
  &[data-facet-value="Matte black"] {
    background-color: #616872;
  }
  &[data-facet-value="Matte white"] {
    background-color: #DCDBD7;
  }
  &[data-facet-value="White stained oak effect"] {
    background-color: #E7E8E0;
  }
}